{% extends 'production/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}
{% block ready %}


{% endblock ready %}
{% block js %}
<script>
function record2_submit() {
    $("#hid_emp_no").val($("#id_emp_no").val());
    $("#record2_form").submit();
}
</script>
{% endblock js %}
{% block content %}
    <div class="row pt-3">
        <div class="col-1"></div>
        <div class="col-10">
            <form action="{% url 'prod_record_detail' %}" method="POST">
                {% csrf_token %}
                {% crispy form %}
            </form>
            {{ html|safe }}

        </div>
        <div class="col-1"></div>
    </div>

{% endblock %}