{% extends 'production/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}
{% block ready %}
$("#id_sap_emp_no").focus();

$("#id_cfm_code").on("change", function() {
  cfm_code_change();
});

$("#id_sap_emp_no").on("change", function() {
  sap_emp_no_change();
});

//Move to Confirm Code after Emp No Enter
$(':input').keydown(function (e){
    if(e.keyCode == 13){
        if($("#id_sap_emp_no").val().length>0 && $("#id_cfm_code").val().length==0){
          $("#id_cfm_code").focus();
        }else{
            // focus next input elements
            $(':input:visible:enabled:eq(' + ($(':input:visible:enabled').index(this) + 1) + ')').focus();
        }
        e.preventDefault();
    }
})

//F2 trigger submit
function hotkey()
{
    var e=window.event;
    if(e.keyCode == 113)
    {
        $("#submit-id-submit").click();
    }
}// end hotkey

document.onkeydown = hotkey; //當onkeydown 事件發生時調用hotkey函數



{% endblock ready %}
{% block js %}
<script>
    function sap_emp_no_change() {
        $.ajax({
            url: '{% url 'get_user_info_api' %}', type: 'post',
            dataType: 'json',
            data: {"csrfmiddlewaretoken": "{{ csrf_token }}", "record_dt": $("#id_record_dt").val(), "sap_emp_no": $("#id_sap_emp_no").val()},
            success: function(data) {
                if(typeof(data.username)==="undefined"){
                    alert("{% trans 'SAP employee number is not correct or no data' %}");
                }else{
                    $("#id_username").val(data.username);
                    $("#id_emp_no").val(data.emp_no);
                    $("#id_worked_labor_time").val(data.worked_labor_time);
                }
            }
        });
    }

    function form_init() {
        $("#id_plant").val('');
        $("#id_wo_no").val('');
        $("#id_item_no").val('');
        $("#id_spec").val('');
        $("#id_step_code").val('');
        $("#id_step_name").val('');
        $("#id_ctr_code").val('');
        $("#id_labor_time").val('');
        $("#id_mach_time").val('');
        $("#id_good_qty").val('');
        $("#hid_std_labor_time").val('');
        $("#hid_worked_labor_time").val('');
        $("#hid_worked_good_qty").val('');
        $("#hid_wo_qty").val('');
        $("#hid_step_no").val('');
        $("#hid_work_center").val('');
    }

    function cfm_code_change() {
        form_init();
        $.ajax({
            url: '{% url 'get_step_info_api' %}', type: 'post',
            dataType: 'json',
            data: {"csrfmiddlewaretoken": "{{ csrf_token }}", "cfm_code": $("#id_cfm_code").val(), "wo_no": $("#id_wo_no").val()},
            success: function(data) {
                if(data.first_step_done=="N") {
                    alert("{% trans 'The first step has been not finished yet' %}");
                    //$("#id_cfm_code").val('');
                    //return false; 只提醒但不卡住，上線後再開啟
                }

                var init_good_qty = parseFloat(data.good_qty) - parseFloat(data.worked_good_qty);
                var init_labor_time = parseFloat(data.labor_time) - parseFloat(data.worked_labor_time);

                $("#id_plant").val(data.plant);
                $("#id_wo_no").val(data.wo_no);
                $("#id_item_no").val(data.item_no);
                $("#id_spec").val(data.spec);
                $("#id_step_code").val(data.step_code);
                $("#id_step_name").val(data.step_name);
                $("#id_ctr_code").val(data.ctr_code);
                $("#id_labor_time").val(init_labor_time);
                $("#id_mach_time").val(data.mach_time);
                $("#id_good_qty").val(init_good_qty);
                $("#hid_std_labor_time").val(data.labor_time);
                $("#hid_worked_labor_time").val(data.worked_labor_time);
                $("#hid_worked_good_qty").val(data.worked_good_qty);
                $("#hid_wo_qty").val(data.wo_qty);
                $("#hid_step_no").val(data.step_no);
                $("#hid_work_center").val(data.work_center);

            }
        });
    }

    function validation() {
        var labor_time = parseFloat($("#id_labor_time").val());
        var std_labor_time = parseFloat($("#hid_std_labor_time").val());
        var good_qty = parseFloat($("#id_good_qty").val());
        var wo_qty = parseFloat($("#hid_wo_qty").val());
        var worked_labor_time = parseFloat($("#hid_worked_labor_time").val());
        var worked_good_qty = parseFloat($("#hid_worked_good_qty").val());

        if(labor_time>std_labor_time*1.1){
            msg = "{% trans 'Remind that total recorded time {labor_time} already over 10% of the standard time({standard_time}).' %}";
            msg = msg.replace("{labor_time}", labor_time);
            msg = msg.replace("{standard_time}", Math.round(std_labor_time*1.1*10)/10);
            return confirm(msg);
        }

        {% if not perms.users.perm_workhour %}
        //累計報工數量大於工單數量
        var total_qty = worked_good_qty + good_qty;
        if(total_qty > wo_qty) {
            msg = "{% trans 'The operation quantity cannot over the production order quantity.' %}";
            alert(msg);
            return false;
        }
        {% endif %}
    }
</script>
{% endblock js %}
{% block content %}
    <div class="row pt-3">
        <div class="col-1"></div>
        <div class="col-10">
            <form action="" method="POST" onSubmit="return validation()" id="record_form">
            {% crispy form %}
                <input type="hidden" name="hid_std_labor_time" id="hid_std_labor_time">
                <input type="hidden" name="hid_worked_labor_time" id="hid_worked_labor_time">
                <input type="hidden" name="hid_worked_good_qty" id="hid_worked_good_qty">
                <input type="hidden" name="hid_wo_qty" id="hid_wo_qty">
                <input type="hidden" name="hid_step_no" id="hid_step_no">
                <input type="hidden" name="hid_work_center" id="hid_work_center">
            </form>
        </div>
        <div class="col-1"></div>
    </div>

{% endblock %}