asgiref==3.5.2
Django==3.0
django-bootstrap-datepicker-plus==5.0.0
django-ckeditor==5.6.1
django-crispy-forms==1.14.0
django-js-asset==2.0.0
djangorestframework==3.14.0
gunicorn==19.7.1
now==0.0.6
Pillow==9.2.0
pydantic==1.10.2
pytz==2018.6
sqlparse==0.4.3
typing_extensions==4.4.0
