{% extends 'inventory/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="row p-3">
    <div class="col-1"></div>
    <div class="col-10">
        <fieldset>
            <div class="row">
                <div class="col p-3" style="font-size: 1.5em">請領資料</div>
                <div class="col p-3" style="text-align: right">
                    <form method="post" action="{% url 'inv_change_status' %}" id="status_form">
                        {% csrf_token %}
                        {{ status_html | safe }}
                    </form>
                </div>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-2 p-2" style="text-align:right;">申請日期：</div>
                        <div class="col-2 p-2 content">{{ form.apply_date }}</div>
                        <div class="col-2 p-2" style="text-align:right;">狀態：</div>
                        <div class="col-2 p-2 content">{{ form.status }}</div>
                        <div class="col-2 p-2" style="text-align:right;">簽核者：</div>
                        <div class="col-2 p-2 content">{{ form.requester.manager|default:'' }}</div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-2 p-2" style="text-align:right;">申請部門：</div>
                        <div class="col-2 p-2 content">{{ form.unit }}</div>
                        <div class="col-2 p-2" style="text-align:right;">申請者：</div>
                        <div class="col-2 p-2 content">{{ form.requester }}</div>
                        <div class="col-2 p-2" style="text-align:right;">分機：</div>
                        <div class="col-2 p-2 content">{{ form.ext_number }}</div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-2 p-2" style="text-align:right;">申請原因：</div>
                        <div class="col-10 p-2 content">{{ form.reason }}</div>
                    </div>
                </li>
            </ul>
        </fieldset>
        <table class="table table-bordered table-striped">
            <thead class="table-info">
                <tr>
                    <th style="width: 300px">品名</th>
                    <th style="width: 70px;text-align: center;">參考價格</th>
                    <th style="width: 70px;text-align: center;">數量</th>
                    <th style="width: 50px;text-align: center;">單位</th>
                    <th style="width: 70px;text-align: center;">參考總價</th>
                    <th style="width: 70px;text-align: center;">已發放</th>
                    <th style="width: 200px">備註</th>
                </tr>
            </thead>
            <tbody>
                {% for item in form.applied_form_item.all %}
                    <tr>
                        {% if perms.users.perm_misc_apply %}
                            <td>{{ item.spec }}[<a href="{% url 'inv_recieved' item.pk %}">編輯</a>]</td>
                        {% else %}
                        <td>{{ item.spec }}</td>
                        {% endif %}
                        <td style="text-align: right">{{ item.price }} $</td>
                        <td style="text-align: center">{{ item.qty }}</td>
                        <td style="text-align: center">{{ item.unit }}</td>
                        <td style="text-align: right">{{ item.amount }} $</td>
                        <td style="text-align: center">{{ item.received_qty }}</td>
                        <td>{{ item.comment|default:'' }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="4" style="text-align: right">總金額：</td>
                    <td style="text-align: right">{{ total_price }} $</td>
                    <td colspan="2"></td>
                </tr>
            </tbody>
        </table>
        {% if files %}
        <table class="table table-bordered table-sm">
            <thead class="table-info">
                <tr>
                    <th style="width:10%">
                        #
                    </th>
                    <th style="width:40%;text-align: left;">
                        檔名
                    </th>
                    <th style="width:10%;text-align: center;">
                        附件
                    </th>
                </tr>
            </thead>
            <tbody>
            {% for file in files %}
                <tr>
                    <td class="text-center">
                        附件{{ forloop.counter }}
                    </td>
                    <td>{{ file.files.filename }}</td>
                    <td class="text-center">
                        <a href="{{ file.files.url }}" target="_blank"><i class="fas fa-file-download fa-2x text-info"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
        {% if isCreater or perms.users.perm_misc_apply %}
        <div style="text-align:center">
            <a href="{% url 'inv_delete' pk %}" class="btn btn-danger" onclick="return confirm('確認要刪除?')">刪除</a>
        </div>
        {% endif %}
    </div>
    <div class="col-1"></div>
</div>
{% if isApprover %}
<div style="text-align:center">
    <a href="{% url 'inv_agree' pk %}" class="btn btn-info">同意</a>
    <a href="{% url 'inv_reject' pk %}" class="btn btn-danger" onclick="return confirm('確定是否要退單?')">退單</a>
</div>
{% endif %}

{% endblock %}
{% block js %}
<script>
function change_status(status) {
    $("#status_id").val(status);
    $("#status_form").submit();
}
</script>
{% endblock js %}