<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Noah - Inventory</title>
    <style type="text/css">

    </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div style="padding:20px;text-align:center;font-size:1.1em;">請領資料</div>
    <table width="100%" border="1">
        <tr>
            <td style="text-align:right;">申請日期：</td>
            <td style="text-align:center;color: blue;">{{ form.apply_date }}</td>
            <td style="text-align:right;">狀態：</td>
            <td style="text-align:center;color: blue;">{{ form.status }}</td>
            <td style="text-align:right;">簽核者：</td>
            <td style="text-align:center;color: blue;">{{ form.requester.manager|default:'' }}</td>
        </tr>
        <tr>
            <td style="text-align:right;">申請部門：</td>
            <td style="text-align:center;color: blue;">{{ form.unit }}</td>
            <td style="text-align:right;">申請者：</td>
            <td style="text-align:center;color: blue;">{{ form.requester }}</td>
            <td style="text-align:right;">分機：</td>
            <td style="text-align:center;color: blue;">{{ form.ext_number }}</td>
        </tr>
        <tr>
            <td style="text-align:right;">申請原因：</td>
            <td style="text-align:center;color: blue;">{{ form.reason }}</td>
        </tr>
    </table>
    <div style="padding-top: 30px;"></div>
    <table width="100%" border="1">
        <thead>
            <tr>
                <th>品名</th>
                <th>參考價格</th>
                <th>數量</th>
                <th>單位</th>
                <th>參考總價</th>
            </tr>
        </thead>
        <tbody>
            {% for item in form.applied_form_item.all %}
                <tr>
                    <td>{{ item.spec }}</td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.qty }}</td>
                    <td>{{ item.unit }}</td>
                    <td style="text-align: right">{{ item.amount }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="5" style="text-align: right">總金額：{{ total_price }}</td>
            </tr>
        </tbody>
    </table>
    <div style="text-align:center">
        <div style="padding: 30px;">
            <a href="http://10.96.101.11/inventory/agree/{{ pk }}" class="btn btn-info">同意</a>
        </div>
        <div style="padding: 30px;">
            <a href="http://10.96.101.11/inventory/reject/{{ pk }}" class="btn btn-danger" onclick="return confirm('確定是否要退單?')">退單</a>
        </div>
    </div>
</body>
</html>