{% extends 'bases/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}
{% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}
{% block title %}
AMS - Main Data
{% endblock %}
{% block breadcrumb %}

{% endblock %}
{% block container %}
<div class="card-header">
    <div class="row">

        <div class="col">
            {% if user.is_superuser %}
            <a href="{% url 'assets_create' %}" class="btn btn-info">新增料號</a>
            <a href="/admin/assets/assetcategory/" class="btn btn-info" target="_blank">編輯類別</a>
            <a href="/admin/assets/assettype/" class="btn btn-info" target="_blank">編輯種類</a>
            {% endif %}
        </div>

        {% if user.is_authenticated %}
        <div class="ml-md-auto">
            <a class="btn btn-info" href="{% url 'logout' %}" role="button"><i class="fas fa-sign-out-alt"></i>{% trans "logout" %} ({{ user.username }})</a>
        </div>
        {% endif %}
    </div>
</div>
<div class="p-3">
    <form method="post" action="{% url 'inv_apply' %}">
        {% csrf_token %}
        {% crispy form %}
        {{ item_formset.management_form }}
        {% for form in item_formset %}
        {{ form.as_p }}
        {% endfor %}
    </form>
</div>
{% endblock %}
{% block js %}
<script>
    changeSelect = function(category_id, asset_type, asset_brand)
    {
        $.get('/assets/typeapi/'+category_id, function (data){
            $.each(data, function(index, item){
                asset_type.append('<option value="' + item.id + '">' + item.type_name + '</option>')
            })
        })

        $.get('/assets/brandapi/'+category_id, function (data){
            $.each(data, function(index, item){
                asset_brand.append('<option value="' + item.id + '">' + item.brand_name + '</option>')
            })
        })
    }

    $(function (){
        category = $('#id_category');
        asset_type = $('#id_type');
        asset_brand = $('#id_brand');
        auto_encode = $('#id_auto_encode')
        asset_no = $('#id_asset_no')

        changeSelect(0, asset_type, asset_brand);

        category.change(function(){
            asset_type.empty().append('<option value="">---------</option>');
            asset_brand.empty().append('<option value="">---------</option>');
            changeSelect(this.value, asset_type, asset_brand)
        })

        auto_encode.change(function(){
            if(auto_encode[0].checked) {
                asset_no.prop('readonly', true);
            } else {
                asset_no.prop('readonly', false);
            }
        })

        if("{{ mode }}" == "UPDATE") {
            category.attr("disabled", true);
            asset_type.attr("disabled", true);
            auto_encode.attr("disabled", true);
            asset_no.prop('readonly', true);
        }

        $("#edit_form").submit(function() {
            //唯讀狀態後端無法取值，送出時去掉唯讀
            category.attr("disabled", false);
            asset_type.attr("disabled", false);
            asset_brand.attr("disabled", false);
            auto_encode.attr("disabled", false);
            asset_no.prop('readonly', false);
        })

    })
</script>
{% endblock js %}